#hero colour: a6f4e8

#define AMLA_ISKANDAR
	[advancement]
		id=amla_iskandar_sap
		description="<span color='#a6f4e8'><b>Magic sap</b></span>
" + "    decreases the damage of nearby enemy units by 25%"
        image="icons/iskandar-notesofthepast.png"
		always_display=yes
		max_times=1
		[effect]
			apply_to=new_ability
			[abilities]
				[leadership]
					id=magic sap
					value=-25
					cumulative=no
					name= _ "magic sap"
					female_name= _ "female^magic sap"
					description= _ "This unit saps the lifer energy of nearby enemy units and decreases their damage by 25%."
					affect_self=no
					affect_enemies=yes
					affect_allies=no
					[affect_adjacent]
						[filter]
						[/filter]
					[/affect_adjacent]
				[/leadership]
			[/abilities]
		[/effect]
		[effect]
			apply_to=halo
			halo=halo/magicsap-[10~1].png:150
		[/effect]
		{HEAL_EFFECT}
	[/advancement]
	
	[advancement]
		id=amla_iskandar_MAX_flames
        description= _ "<span color='#a6f4e8'><b>Flames of the Athvari</b></span>
" + "    leaves behind the boundaries of the physical plain
" + "    grants +3 damage
" + "    grants +15 hitpoints"
        image="icons/iskandar-flamesoftheathvari.png"
		always_display=yes
		max_times=1
		[effect]
			apply_to=variation
			name=Whispering Athvari
		[/effect]
		[effect]
			apply_to=attack
			increase_damage=+3
		[/effect]
		[effect]
			apply_to=hitpoints
			increase_total=+15
		[/effect]
		{HEAL_EFFECT}
	[/advancement]
	
	[advancement]
		id=amla_iskandar_berdysch
        description= _ "<span color='#a6f4e8'><b>Dissipate</b></span>
" + "    grants a strong ranged attack"
        image="icons/iskandar-magicalbulwark.png"
		always_display=yes
		max_times=1
		[effect]
			apply_to=new_attack
			name=dissipate
			description=_"dissipate"
			icon=attacks/lightning.png
			type=arcane
			range=ranged
			defense_weight=0
			[specials]
				{WEAPON_SPECIAL_MAGICAL}
				mode=append
				[dissipate]
					id=dissipate
					name= _ "dissipate"
					description=_ "The attack gains +1 damage per killed unit."
				[/dissipate]
			[/specials]
			damage=30
			number=1
		[/effect]
		{HEAL_EFFECT}
	[/advancement]
#enddef


[unit_type]
    id=Iskandar
    name= _ "The Remembrancer"
    race=athvari
    image="units/heroes/iskandar.png"
    profile="portraits/iskandar.png"
	halo=halo/flowing-power-[1~14].png~O(50%):150
    hitpoints=58
    movement_type=dunefoot
    movement=6
    experience=30
    level=3
    alignment=lawful
    cost=52
    usage=mage

	
	{AMLA_ISKANDAR}
	{AMLA_HEROIC_BONUS}
	
    description= _ "Iskandar is one of the Athvari, mystical mages from the eastern parts of the Great Continent, from a land that is known as the Silver Lands. As an Athvari, Iskandar was responsible for the creation of the Sphere, an arcane prison, that eventually got hold of the three kings of the southern deserts. Being responsible for the great order of things, the Athvari protect mankind. His great powers allows him to instantly teleport to allies in order to fight the evil and protect the ones he seemed worthy. Moreover, Iskandar is able to sap the life energy of nearby beings, making even a young soldiers as frail as the elderly." + "This unit is able to teleport to allied units."
	
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM_ELVEN_RANGE "units/heroes/iskandar.png" "units/heroes/iskandar.png" {SOUND_LIST:HUMAN_HIT} ranged }
	{DEFENSE_ANIM_ELVEN_RANGE "units/heroes/iskandar.png" "units/heroes/iskandar.png" {SOUND_LIST:HUMAN_HIT} melee }
	
	{SIDE_BY_SIDE}
	
    [attack]
        name=berdysch
        description=_"berdysch"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
	
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		
        [frame]
            image="units/heroes/iskandar.png:[100,700,200]"
        [/frame]
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=berdysch
		[/filter_attack]
		offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
		start_time=-630
        [frame]
            image="units/heroes/iskandar.png:[100*2,140,130]"
			blend_color=255,255,255
			blend_ratio=0~0.4,0.4~0:[300*2]
        [/frame]
		
		[if]
			hits=yes
			[missile_frame]
				halo=strikegfx/rip-[1~5].png~BLEND(255,255,255,0.8):[90*5]
				offset=1.0
				auto_vflip=false
			[/missile_frame]
		[/if]
		
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
	[/attack_anim]
	
#define DISSIPATE_BOLT DIRECTION_NUMBER
    missile_start_time=-250
    [missile_frame]
        halo=halo/lightning-bolt-{DIRECTION_NUMBER}-[1~4].png~BLEND(132,215,255,0.8):100
        halo_y=-125
        offset=1.0
        auto_vflip=no
    [/missile_frame]
	
	[if]
        hits=yes
		[missile_frame]
			halo="projectiles/fireball-impact-[16~1].png~BLEND(132,215,255,0.8)~SCALE(300,300):120"
			offset=1.0
			auto_vflip=false
		[/missile_frame]
		[attack_sound_frame]
			sound=dissipate.ogg
		[/attack_sound_frame]
    [/if]
#enddef

#define ISKANDAR_DISSIPATE DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=dissipate
        [/filter_attack]

        {DISSIPATE_BOLT {DIRECTION_NUMBER} }

        start_time=-300
        {SOUND:HIT_AND_MISS dissipate.ogg lightning-miss.ogg -300}
        [frame]
            image="units/heroes/iskandar.png:[100*2,200,100,50]"
        [/frame]
    [/attack_anim]
#enddef

    {ISKANDAR_DISSIPATE 1}
    {ISKANDAR_DISSIPATE 2}
    {ISKANDAR_DISSIPATE 3}
	

	[variation]
		variation_name="Whispering Athvari"
		variation_id=Whispering Athvari
		inherit=yes
		movement_type=undeadfoot
		alignment=chaotic
		[movement_costs]
			sand=1
		[/movement_costs]
		{DEFENSE_ANIM_ELVEN_RANGE "units/heroes/iskandar_undead.png" "units/heroes/iskandar_undead.png" {SOUND_LIST:HUMAN_HIT} ranged }
		{DEFENSE_ANIM_ELVEN_RANGE "units/heroes/iskandar_undead.png" "units/heroes/iskandar_undead.png" {SOUND_LIST:HUMAN_HIT} melee }
		image="units/heroes/iskandar_undead.png"
		
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 14 -23}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		
        [frame]
            image="units/heroes/iskandar_undead.png:[100,700,200]"
        [/frame]
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
    [/attack_anim]
		
	[attack_anim]
		[filter_attack]
			name=berdysch
		[/filter_attack]
		offset=0.0~0.3,0.3~0.5,0.5~0.6,0.6~0.7,0.7~0.6,0.6~0.3,0.3~0.0
		start_time=-630
        [frame]
            image="units/heroes/iskandar_undead.png:[100*2,140,130]"
			blend_color=255,255,255
			blend_ratio=0~0.4,0.4~0:[300*2]
        [/frame]
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -400}
	[/attack_anim]
	
#define ISKANDAR2_DISSIPATE DIRECTION_NUMBER
    [attack_anim]
        [filter_attack]
            name=dissipate
        [/filter_attack]

        {DISSIPATE_BOLT {DIRECTION_NUMBER} }

        start_time=-300
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -300}
        [frame]
            image="units/heroes/iskandar_undead.png:[100*2,200,100,50]"
        [/frame]
    [/attack_anim]
#enddef

    {ISKANDAR2_DISSIPATE 1}
    {ISKANDAR2_DISSIPATE 2}
    {ISKANDAR2_DISSIPATE 3}

	[/variation]

	[animation]
		apply_to=post_teleport
        start_time=-800
		blend_color=255,255,255
        [frame]
			alpha=0~1:1200
			directional_y=-150~0
			blend_ratio=1~0:1200
			image="units/heroes/iskandar.png:1200"
        [/frame]
	[/animation]

	[animation]
		apply_to=pre_teleport
        start_time=-800
		blend_color=255,255,255
        [frame]
			alpha=1~0:1200
			directional_y=0~-150
			blend_ratio=0~1:1200
			image="units/heroes/iskandar.png:1200"
        [/frame]
	[/animation]
	
    [death]
        start_time=-800
		blend_color=255,255,255
        [frame]
			alpha=1~0:1200
			directional_y=0~-150
			blend_ratio=0~1:1200
			image="units/heroes/iskandar.png:1200"
        [/frame]
	    [sound_frame]
            sound=lich-die.ogg
        [/sound_frame]
    [/death]
	
	[event]
		name=die
		first_time_only=no

		[filter]
		[/filter]
		[filter_second_attack]
			name=dissipate
		[/filter_second_attack]

		[unstore_unit]
			variable=second_unit
			{COLOR_HEAL}
			text= _ "+1 damage"
			find_vacant=no
		[/unstore_unit]

		[object]
			silent=yes
			duration=forever

			[filter]
				x,y=$x2,$y2
			[/filter]

			[effect]
				apply_to=attack
				name=dissipate
				increase_damage=+1
			[/effect]
		[/object]
	[/event]
[/unit_type]
